<%= simple_form_for [:current, @user] do |f| %>
  <%= render "form", :f => f %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
