header {
  h1 a {
    color: black;
    border-bottom: 0;
    &:hover {
      color: black;
      background-color: white;
    }
  }

  .settings {
    float: right;
    margin-top: 10px;
  }
}

.callout-image {
  margin-top: 1rem;
  margin-bottom: 2rem;
  img { width: 100%; }
}
